DJANGO_SECRET_KEY=strong-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,r3dban.ru

DJANGO_SUPERUSER_USERNAME=root
DJANGO_SUPERUSER_PASSWORD=root
DJANGO_SUPERUSER_EMAIL=admin@example.com

